.main-container {
    border-radius: 1rem;
    padding: 20px;
}

.bmi-normal {
    background-color: #F1EFFC;
}

.bmi-high {
    background-color: #E5E0FF;
}

.bmi-low {
    background-color: #F5FEE1;
}

.bmi-low-bar {
    background-color: #C2FF4F;
}

.bmi-low-indicator {
    background-color: #C2FF4F;
}

.bmi-normal-indicator {
    background-color: #C5BDF4;
}

.bmi-high-indicator {
    background-color: #7A67F8;
}