<div class="main-container">
    <div class="bg-white  p-4 pt-6 pb-6 rounded-lg shadow-lg">
        <div class="flex justify-between items-center">

            <h1 class="font-semibold text-gray-700">BMI</h1>

            <p>17.3<i class="mdi mdi-menu-up text-2xl"></i></p>
        </div>
        <div class="flex items-center justify-between space-x-3 ">
            <div class="bg-white w-1/2 ">
                <div class="flex items-center">
                    <div class="w-full">
                        <div class="bmi-low w-full h-3 rounded-lg mt-2">
                            <div class="bar w-20 bmi-low-bar h-full rounded-lg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white w-1/2 ">
                <div class="flex items-center">
                    <div class="w-full">
                        <div class="bmi-normal w-full h-3 rounded-lg mt-2">
                            <div class="bar w-20 bmi-normal h-full rounded-lg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white w-1/2 ">
                <div class="flex items-center">
                    <div class="w-full">
                        <div class="bmi-high w-full h-3 rounded-lg mt-2">
                            <div class="bar w-20 bmi-high h-full rounded-lg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between space-x-3 text-gray-500 text-sm font-semibold">
            <div class="bg-white w-1/2 text-center">
            </div>
            18.5
            <div class="bg-white w-1/2 text-center">
            </div>
            25
            <div class="bg-white w-1/2 text-center">
            </div>
        </div>
        <div class="flex text-gray-500 text-md items-center text-sm mt-2">
            <p class="mr-3"><span class="inline-block w-3 h-3 bmi-low-indicator rounded-full mr-1"></span> Low</p>
            <p class="mr-3"><span class="inline-block w-3 h-3 bmi-normal-indicator rounded-full mr-1"></span> Normal</p>
            <p><span class="inline-block w-3 h-3 bmi-high-indicator rounded-full mr-1"></span> High</p>

        </div>

    </div>
</div>