<div class="main-container">
    <div class="header">
        <h1 class="text-2xl font-bold ">Goals For Week</h1>
        <p class="text-sm text-gray-500 font-semibold">24 of 48</p>
    </div>
    <div class="goals-container">
        <div class="year-stats">
            <div class="month-group">
                <div class="bar h-100"></div>
                <p class="month">M</p>
            </div>
            <div class="month-group">
                <div class="bar h-50"></div>
                <p class="month">T</p>
            </div>
            <div class="month-group">
                <div class="bar h-75"></div>
                <p class="month">W</p>
            </div>
            <div class="month-group">
                <div class="bar h-25"></div>
                <p class="month">F</p>
            </div>
            <div class="month-group selected">
                <div class="bar h-100"></div>
                <p class="month">S</p>
            </div>
            <div class="month-group">
                <div class="bar h-50"></div>
                <p class="month">S</p>
            </div>
            <div class="month-group">
                <div class="bar h-75"></div>
                <p class="month">M</p>
            </div>
            <div class="month-group">
                <div class="bar h-25"></div>
                <p class="month">T</p>
            </div>
        </div>
    </div>
</div>