<div class="main-container">
    <div class="bg-white  p-4 pt-6 pb-6 rounded-lg shadow-lg">
        <div class="grid grid-cols-3 gap-4">
            <div class="col-span-1 flex justify-between flex-col text-left">
                <h1 class="font-semibold text-gray-700">Sleep</h1>
                <div class="flex">
                    <p class="text-4xl font-bold text-gray-700">6<span class="text-sm font-normal">h</span></p>
                    <span class="w-1.5"></span>
                    <p class="text-4xl font-bold text-gray-700">20<span class="text-sm font-normal">m</span></p>
                </div>
            </div>
            <div class="col-span-2">
                <div class="card">
                    <div class="goals-container">
                        <div class="year-stats">
                            <div class="month-group">
                                <div class="bar h-100"></div>
                                <p class="month">M</p>
                            </div>
                            <div class="month-group">
                                <div class="bar h-50"></div>
                                <p class="month">T</p>
                            </div>
                            <div class="month-group selected">
                                <div class="bar h-75"></div>
                                <p class="month">W</p>
                            </div>
                            <div class="month-group">
                                <div class="bar h-25"></div>
                                <p class="month">F</p>
                            </div>
                            <div class="month-group selected">
                                <div class="bar h-100"></div>
                                <p class="month">S</p>
                            </div>
                            <div class="month-group">
                                <div class="bar h-50"></div>
                                <p class="month">S</p>
                            </div>
                            <div class="month-group">
                                <div class="bar h-75"></div>
                                <p class="month">M</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>