<div class="flex items-center justify-between text-gray-500 cursor-pointer space-x-3 p-6">
    <div class="bg-white w-1/2 p-4 pt-6 pb-6 rounded-lg shadow-lg">
        <div class="flex items-center">
            <i class="mdi mdi-shoe-print w-10 text-2xl"></i>
            <div class="w-full">
                <h1 class="text-lg font-bold">866</h1>
                <p class="text-xs text-gray-600">Calories burn</p>
                <div class="bar-background w-full h-3 rounded-lg mt-2">
                    <div class="bar w-16 bar-green h-full rounded-lg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white  w-1/2 p-4 pt-6 pb-6 rounded-lg shadow-lg">
        <div class="flex items-center">
            <i class="mdi mdi-fire w-10 text-2xl"></i>
            <div class="w-full">
                <h1 class="text-lg font-bold ">7582</h1>
                <p class="text-xs text-gray-600">Steps</p>
                <div class="bar-background w-full h-3 rounded-lg mt-2">
                    <div class="bar w-20 bar-green h-full rounded-lg"></div>
                </div>
            </div>
        </div>
    </div>
</div>