<div class="main-container">
    <div class="header">
        <h1 class="text-2xl font-bold ">Trending Workouts</h1>
        <p class="text-sm text-gray-500 font-semibold underline">See all</p>
    </div>
    <div class="">
        <ul class="flex flex-col mt-4">
            <li class=" flex flex-row mb-2">
                <div class="select-none cursor-pointer rounded-lg shadow-md flex flex-1 items-center p-4  transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
                    <div class="flex flex-col rounded-md w-10 h-10 justify-center items-center mr-3"><i class="mdi mdi-bike text-2xl text-purple"></i></div>
                    <div class="flex-1 pl-1 mr-16">
                        <div class="font-medium">Cycling</div>
                    </div>
                    <div class="flex flex-col rounded-md w-10 h-10 justify-center items-center "><i class="mdi mdi-play-circle-outline text-5xl play-button"></i></div>
                </div>
            </li>
            <li class=" flex flex-row mb-2">
                <div class="select-none cursor-pointer rounded-lg shadow-md flex flex-1 items-center p-4  transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
                    <div class="flex flex-col rounded-md w-10 h-10 justify-center items-center mr-3"><i class="mdi mdi-weight-lifter text-2xl text-purple"></i></div>
                    <div class="flex-1 pl-1 mr-16">
                        <div class="font-medium">Shoulders</div>
                    </div>
                    <div class="flex flex-col rounded-md w-10 h-10 justify-center items-center"><i class="mdi mdi-play-circle-outline text-5xl play-button"></i></div>
                </div>
            </li>
            <li class=" flex flex-row mb-2">
                <div class="select-none cursor-pointer rounded-lg shadow-md flex flex-1 items-center p-4  transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
                    <div class="flex flex-col rounded-md w-10 h-10 justify-center items-center mr-3"><i class="mdi mdi-run text-2xl text-purple"></i></div>
                    <div class="flex-1 pl-1 mr-16">
                        <div class="font-medium">Running</div>
                    </div>
                    <div class="flex flex-col rounded-md w-10 h-10 justify-center items-center "><i class="mdi mdi-play-circle-outline text-5xl play-button"></i></div>
                </div>
            </li>
        </ul>

    </div>
</div>